@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,button,a,div{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea,button{outline:none;border:none; background:none;cursor: pointer;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

.fl{float:left;}
.fr{float:right;}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}


.header,
.footer {
    width: 100%;
}

.auto-center,
.wrap {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

/* 顶部收藏登录注册 */
.header .top {
    height: 31px;
    line-height: 31px;
    color: #666;
    background: #f7f7f7;
}

.collection {
    float: left;
    height: 100%;
    padding: 1px 0 0 18px;
    background: url("../images/collection.png") no-repeat left center;
}

.welcome {
    float: right;
    margin-right: 17px;
    display: inline;
}

/* logo搜索与购物车 */
.header .middle {
    height: 85px;
    background-color: #1d7ad9;    
}

.logo,
.search,
.shopping-cart {
    float: left;
    height: 100%;
}

.logo {
    margin: 13px 38px;
    width: 115px;
    height: 59px;
}

.logo a img {
    width: 100%;
}

.search,
.shopping-cart {
    height: 35px;
    margin: 25px 0;
}

.search {
    margin-left: 147px;
    margin-right: 31px;
    *display: inline;
}

.search input,
.shopping-cart button {
    float: left;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}

.search-input {
    background-color: #fff;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-btn {
    width: 70px;
}

.search-btn,
.shopping-cart-btn,
.shopping-count {
    background-color: #f80;
    color: #fff;
    font-family: "微软雅黑";
}

.shopping-cart-btn {
    width: 87px;
    background: #f80 url("../images/shopping_cart.png") no-repeat 10% center;
    padding-left: 25px;
    *border: 1px solid #f80;
    border-right: 1px solid #e27a00;
}

.shopping-count {
    background: #f80 url("../images/combo_down.png") no-repeat 75% center;
    padding-right: 20px;
    width: 56px;
}

/* 头部导航 */
.header .nav {
    background: #1369c0;
    height: 29px;
    font: 14px/29px "微软雅黑";
}

.header .nav a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
}

.header .nav .all {
    font-size: 16px;
    width: 191px;
    background: url("../images/combo_down.png") no-repeat 82% center;
}

.header .nav .item {
    width: 100px;
}

.header .nav .actived,
.header .nav a:hover {
    background-color: #4593fd;
}


/* 页面底部 */
.footer {
    background-color: #d4d4d4;
    overflow: hidden;
}

.footer .nav {
    padding-top: 48px;
}

.footer .nav,
.footer .info,
.footer .credit {
    margin: 5px 0;
    text-align: center;
}

.footer .nav a {
    display: inline-block;
    border-left: 1px solid #000;
    color: #000;
    text-align: center;
    padding-left: 6px;

}

.footer .nav a:first-child {
    border-left: none;
}

.footer .credit {
    margin: 27px 0 46px;
}

.footer .credit img {
    margin: 0 12px;
    width: 128px;
}
